<div class="numeric-keyboard" *ngIf="loadedKeyboard">
  <div class="keyboard-grid">
    <div class="key" *ngFor="let key of keyboard?.botones; let i = index">
      <img class="img" [src]="key.imagen" alt="key" (click)="onKeyPress(key)">
    </div>
    <div class="key">
      <img class="img" (click)="onBackspace()" src="https://i.imgur.com/qNztM0i_d.webp?maxwidth=760&fidelity=grand" alt="key">
    </div>
    <div class="key">
      <img class="img" (click)="onClear()" src="https://i.imgur.com/UULasbV_d.webp?maxwidth=760&fidelity=grand" alt="key">
    </div>
  </div>
  <div *ngIf="loading" class="loading-text">Cargando...</div>
</div>
