.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;

  main {
    margin-top: 15px;
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 15px;

    main {
      padding: 15px;
    }
  }

}
