<div class="header fade-in">
  <div class="logo">
      <div class="user-avatar">{{userInitials}}</div>
      <div>
          <div class="logo-text">OMAPED</div>
          <div class="logo-sub-text">Sistema de Gestion de Beneficiarios</div>
      </div>
      <!-- <img [src]="'/assets/images/logos/logo-maf.png'" alt="Logo OMAPED" class="logo-image"> -->
  </div>
  <div class="user-info">
      <div>
          <div class="welcome-text">¡Hola {{nameUser}}!</div>
          <div class="welcome-text-page">Hora de acceso: {{accessHour}}</div>
      </div>
      <!-- <button class="btn-phone">
          <i class="fas fa-phone"></i> (01) 630-8500
      </button> -->
  </div>
</div>
